{% extends "base.html" %}
{% block body %}
<div class="col-sm-8 col-md-6 col-centered">
<form action="" method="POST" class="form" id="auth_form">
  <h3>User Login</h3>
  <input type="hidden" name="next" value="{{ next }}">
  {% csrf_token %}

  {% for error in form.non_field_errors %}
    <p class="error">{{ error }}</p>
  {% endfor %}

    <div class="form-group has-error">
      {{ form.username.label_tag }}
      {{ form.username }}
    {% for error in form.username.errors %}
        <span class="help-block">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="form-group has-error">
      {{ form.password.label_tag }} <a class="right" href="{% url 'auth_password_reset' %}">Forgot your password?</a>

      {{ form.password }}
    {% for error in form.password.errors %}
        <span class="help-block">{{ error }}</span>
      {% endfor %}
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block">Log in</button>
    </div>
</form>
<!--<a href="{% url 'auth_password_reset' %}">Forgot your password?</a>-->
<hr>
<p class="text-center main_feature" style="margin-bottom: 30px;">Don't have an account?</p>
<a href="{% url 'registration_register' %}" class="btn btn-success btn-block no-decoration">Register</a>
</div>
{% endblock %}
