{% load i18n %}
<div class="row">
    <div class="col-sm-12">
        <form action="{% url 'auth-login' %}" method="POST" class="form">
          {% csrf_token %}
          {{ login_popup_form.as_div }}
            <div class="form-group">
                <input type="hidden" name="next" class="form-control" value="{{ request.path }}"/>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">{% trans "Log in" %}</button>
            </div>
            <div class="form-group">
                <a href="{% url 'password_reset' %}">{% trans "Forgot your password?" %}</a>
            </div>
            <li class="divider"></li>
            <p>{% trans "Don't have an account?" %}</p>
            <div class="form-group">
                <a href="{% url 'registration_register' %}" class="btn btn-success btn-block no-decoration">{% trans "Register" %}</a>
            </div>
        </form>
    </div>
</div>
