To control GNOME Shell extensions using this site you must install GNOME Shell integration that consists of two parts: browser extension and native host messaging application.<br />
<a href="#" title="Install GNOME Shell integration browser extension" onclick="return browser_extension_install();">Click here to install browser extension</a>. See <a href="https://wiki.gnome.org/Projects/GnomeShellIntegrationForChrome/Installation" onclick="window.open(this.href); return false;">wiki page</a> for native host connector installation instructions.
