.*

# Python
*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg

# Data dumps
*.sql
*.tar.xz
*.db

# sweettooth-specific
Demos
uploaded-files
sweettooth.wsgi
local_settings.py
*.crt
*.csr
*.key

contrib/
static/
uploaded-files/
