Django==4.2.7
django-autoslug==1.9.9
django-contrib-comments==2.2.0
django-opensearch-dsl==0.5.1
django-recaptcha==3.0.0
django-registration==3.4
Pygments==2.15.1
Pillow==10.0.1
polib==1.1.1
chardet==5.1.0
dj-database-url==2.0.0
dj-email-url==1.0.6

# extensions.gnome.org requirements
mysqlclient==2.2.0
uWSGI==2.0.22

# development requirements
black==23.7.0
django-cors-headers==4.2.0
flake8==6.0.0
isort==5.12.0
pip-tools==7.0.0
pylint-django==2.5.3
