Django==3.2.19
django-autoslug==1.9.8
django-contrib-comments==2.1.0
django-opensearch-dsl==0.4.1
django-recaptcha==3.0.0
django-registration==3.2
Pygments==2.11.2
Pillow==9.3.0
polib==1.1.1
chardet==4.0.0
dj-database-url==0.5.0
dj-email-url==1.0.2
