<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="shortcut icon" href="/static/images/favicon.png" />
    <link rel="alternate" type="application/rss+xml"
          href="{% url 'extensions-rss-feed' %}" title="Latest extensions in GNOME Shell Extensions" />
    <title>{% block title %}GNOME Shell Extensions{% endblock %}</title>
    <script>
      var require = { baseUrl: '/static/js/' };
    </script>
    <script src="/static/js/require.js"></script>
    <script src="/static/js/jquery.js"></script>
    <script>
        jQuery(function($) {
            require(['main'], function(){});
        });
    </script>
    {% block head %} {% endblock %}
  </head>
  <body>
    <!-- global gnome.org domain bar -->
    <div id="global_domain_bar">
      <div class="maxwidth">
        <div class="tab">
          {% spaceless %}

          <a class="root" href="http://www.gnome.org/">GNOME.org</a>
          {% if n_unreviewed_extensions %}
          <a id="unreviewed_counter" href="{% url 'review-list' %}">{{ n_unreviewed_extensions }}</a>
          {% endif %}
          {% if request.user.is_authenticated %}
          <a class="user" href="#">{{ request.user.username }}</a>
          {% else %}
          <a class="user" href="{% url 'auth-login' %}">Login</a>
          {% endif %}

          {% endspaceless %}
        </div>
        {% include "usermenu.html" %}
      </div>
    </div>

    <!-- header -->
    <div id="header" class="container_12">
        <div id="logo" class="grid_3">
            <h1><a title="GNOME Shell Extensions" href="/"><img src="/static/images/gnome-logo-extensions.png" alt="GNOME Shell Extensions" /></a></h1>
        </div>
        <div id="top_bar" class="grid_9">
            <div class="left">
                <ul id="globalnav" class="{% block navclass %}{% endblock %}">
                {% with request.resolver_match.url_name as url_name %}
                    {% for page in global_menu %}
                        <li class="{% if url_name == page.id %}current_page_item current-menu-item{% endif %}"><a href="{% url page.id %}">{{page.name}}</a></li>
                    {% endfor %}
                {% endwith %}
                </ul>
            </div>
            <div class="right">
                 {% block search-bar %}
                {% endblock %}
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div id="container" class="two_columns">
        <div class="container_12">
            <div id="content" class="without_sidebar">
              <div id="message_container">
                {% for message in messages %}
                <p class="message {{ message.tags }}">{{ message }}</p>
                {% endfor %}

                {% block extra-messages %}
                {% endblock %}
              </div>
              {% block body %}
              {% endblock %}
            </div>

            <!-- footer artwork -->
            <div id="footer_art" class="grid_12 applications">
                &nbsp;
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <!-- footer grass -->
    <div id="footer_grass">
        &nbsp;
    </div>

    <div id="footer">
      <div class="container_12">
        <div class="links grid_9">
          {% include "footer_links.html" %}
        </div>

        <div class="icons grid_3">
            <div class="social_network_icons">
                <a href="//identi.ca/gnome">
                    <img src="https://www.gnome.org/wp-content/themes/gnome-grass/images/social_networks/identica.png"
                         alt=" ">
                </a>
                <a href="//twitter.com/gnome">
                    <img src="https://www.gnome.org/wp-content/themes/gnome-grass/images/social_networks/twitter.png"
                         alt=" ">
                </a>
                <a href="//www.facebook.com/GNOMEDesktop">
                    <img src="https://www.gnome.org/wp-content/themes/gnome-grass/images/social_networks/facebook.png"
                         alt=" ">
                </a>
                <a href="//plus.google.com/108054458791366257368/posts">
                    <img src="https://www.gnome.org/wp-content/themes/gnome-grass/images/social_networks/gplus.png"
                         alt="GNOME on Google+" rel="publisher">
                </a>
            </div>
	    </div>

        <!-- footnotes -->
        <div id="footnotes" class="grid_9">
          Copyright &copy; 2005&#8210;{% now "Y" %} <strong class="gnome_logo">The GNOME Project</strong><br>
          <small>Free to share and remix: <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons CC-BY</a>. Optimised for standards. Hosted by <a href="https://www.redhat.com/">Red Hat</a>. Powered by <a href="//www.djangoproject.com">Django</a> and <a href="//git.gnome.org/browse/extensions-web">SweetTooth</a></small>
        </div>

        <div class="clear"></div>
      </div>
    </div>
  </body>
</html>
