{% load i18n %}
<div class="menu-footer-container"><ul class="menu"><li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="//www.gnome.org">The GNOME Project</a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="//www.gnome.org/about/">{% trans "About Us" %}</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="//www.gnome.org/get-involved/">{% trans "Get Involved" %}</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="//www.gnome.org/teams/">{% trans "Teams" %}</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="//www.gnome.org/support-gnome/">{% trans "Support GNOME" %}</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="//www.gnome.org/merchandise/">{% trans "Merchandise" %}</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="//www.gnome.org/contact/">{% trans "Contact Us" %}</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="//www.gnome.org/foundation/">{% trans "The GNOME Foundation" %}</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="#" onclick="return false;">{% trans "Resources" %}</a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="//developer.gnome.org">{% trans "Developer Center" %}</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="//help.gnome.org">{% trans "Documentation" %}</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="//wiki.gnome.org">{% trans "Wiki" %}</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="//mail.gnome.org/mailman/listinfo">{% trans "Mailing Lists" %}</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="//wiki.gnome.org/Community/GettingInTouch/IRC">{% trans "IRC Channels" %}</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="//bugzilla.gnome.org/">{% trans "Bug Tracker" %}</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="//git.gnome.org/browse/">{% trans "Development Code" %}</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="//wiki.gnome.org/Jhbuild">{% trans "Build Tool" %}</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="//www.gnome.org/news">News</a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="//www.gnome.org/press/">{% trans "Press Releases" %}</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="//www.gnome.org/start/stable">{% trans "Latest Release" %}</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="//planet.gnome.org">{% trans "Planet GNOME" %}</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="//news.gnome.org">{% trans "Development News" %}</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="//identi.ca/gnome">{% trans "Identi.ca" %}</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="//twitter.com/gnome">{% trans "Twitter" %}</a></li>
</ul>
</li>
</ul></div>
