{% load i18n %}
{% if request.user.is_authenticated %}
<div class="row">
    <div class="col-sm-12">
        <p><a class="btn btn-link no-decoration" href="{% url 'auth-profile' user=request.user.username %}">{% trans "User Profile" %}</a></p>
        <p><a class="btn btn-link no-decoration" href="{% url 'auth-settings' %}">{% trans "User Settings" %}</a></p>
        <p><a class="btn btn-link no-decoration" href="{% url 'auth-logout' %}">{% trans "Log out" %}</a></p>
    </div>
</div>
{% else %}
{% include "registration/login_popup_form.html" %}
{% endif %}
