[uwsgi]
wsgi-file = /srv/sweettooth/extensions-web/sweettooth/wsgi.py
chdir = /srv/sweettooth/extensions-web

master = true
processes = 5

socket = /run/sweettooth/sweettooth.sock
uid=sweettooth
gid=sweettooth
protocol = uwsgi
chown-socket = sweettooth:www-data
chmod-socket = 660
vacuum = true

die-on-term = true
