<div class="switch"></div>
<div class="extra-buttons">
  <div class="upgrade-button" title="Upgrade this extension"></div>
  <div class="configure-button" title="Configure this extension"></div>
</div>
<h3 class="extension-name">
  {{#link}}
    <a href="{{link}}" class="title-link"> <img src="{{icon}}" class="icon"> {{name}} </a>
  {{/link}}
  {{^link}}
  {{name}}
  {{/link}}
</h3>
{{#system}}
  <div class='system-extension' title='System extension should be uninstalled using package manager. See «About» page for more details.'>System extension</div>
{{/system}}
{{#creator}}
  <span class="author">by <a href="{{creator_url}}"> {{creator}} </a></span>
{{/creator}}
<p class="description">{{first_line_of_description}}</p>
{{^system}}
  <button class="uninstall" title="Uninstall">Uninstall</button>
{{/system}}
