{% extends "base.html" %}
{% block body %}
  <h3> Settings </h3>
  <ul>
    <li> <a href="{% url 'password_change' %}">Change your password</a> </li>
  </ul>

  <h3> Other Options </h3>
  <p>
    This website is currently undergoing a redesign, which includes more
    settings for accounts. We appreciate your patience while work continues.
  </p>
  <p>
    If you require your e-mail address to be changed or your account to be
    closed, please <a href="https://gitlab.gnome.org/Infrastructure/extensions-web/issues/new">open an issue</a>
    in the project repository.
  </p>
{% endblock %}
