{% extends "extensions/detail.html" %}
{% load i18n %}
{% load extension_icon %}

{% block comments %}
  {% if not extension.allow_comments %}
    <p style="text-align: center;">{% trans 'Comments are disabled for this extension.' %}</p>
  {% elif is_visible %}
    {% include "extensions/comments.html" %}
  {% else %}
    <p style="text-align: center;">Comments will appear here after your extension is approved.</p>
  {% endif %}
{% endblock %}

{% block screenshot %}
    <div class="screenshot col-xs-12 col-sm-5 col-md-4 col-lg-3 no-left-padding">
        <a href="{{ extension.screenshot.url }}"><img src="{{ extension.screenshot.url }}"/></a>
        <label class="upload">
            <span class="action_button btn btn-primary">Upload screenshot</span>
            <input type="file" accept="image/*">
        </label>
    </div>
{% endblock %}

{% block no-screenshot %}
    <div class="screenshot col-xs-12 col-sm-5 col-md-4 col-lg-3 no-left-padding">
        <label class="upload">
            <span class="action_button btn btn-primary">Upload screenshot</span>
            <input type="file" accept="image/*">
        </label>
    </div>
{% endblock %}

{% block icon %}
<label class="icon upload">
  <img src="{% extension_icon extension.icon %}">
  <input type="file" accept="image/*">
</label>
{% endblock %}

{% block extra-ext-class %}can-edit{% endblock %}
