{% extends "base.html" %}
{% load i18n static %}

{% block head %}
  {{ block.super }}
  <script src="{% static 'js/upload-page.js' %}"></script>
{% endblock %}

{% block body %}
<div class='alert alert-info'>
    <p>
        {% blocktrans trimmed %}
        Upload your extension Zip file to submit it for review. Later versions can be uploaded using the same form. Once your extension has been reviewed you will be notified of the result by e-mail.
        {% endblocktrans %}
    </p>
    <p>
        {% blocktrans trimmed with url="https://gjs.guide/extensions/review-guidelines/review-guidelines.html" %}
        Please see the <a href="{{ url }}">Review Guidelines</a> to learn what is required for approval.
        {% endblocktrans %}
    </p>
    <p>
        {% blocktrans trimmed with url="https://gjs.guide/extensions" %}
        If this is your first extension, please see the documentation on <a href="{{ url }}">gjs.guide</a> for directions on creating an extension and preparing it for upload.
        {% endblocktrans %}
    </p>
</div>
<div class='alert alert-info'>
    <p>
        {% blocktrans trimmed with url="https://conduct.gnome.org" %}
        Extensions distributed via this website are subject to the <a href="{{ url }}">Code of Conduct</a>.
        {% endblocktrans %}
    </p>
    <p>
        {% blocktrans trimmed with url="https://conduct.gnome.org" %}
        Extensions that violate the <a href="{{ url }}">Code of Conduct</a> will be removed from this website.
        {% endblocktrans %}
    </p>
</div>
<div class='alert alert-info'>
    <p>
        {% blocktrans trimmed %}
        Before uploading, you can run the Shexli static analyzer locally to catch common packaging and review issues early.
        {% endblocktrans %}
    </p>
    <pre class="mb-0"><code>virtualenv venv
. venv/bin/activate
pip install -U shexli
shexli path_to_zip_or_folder</code></pre>
</div>
<h3>{% trans "Upload extension" %}</h3>

<div id="upload-page-config"
     data-upload-api-url="{{ upload_api_url }}"
     data-upload-failed-message="{% trans 'Upload failed. Please try again.' %}">
</div>

<div id="upload-messages"></div>

<form id="extension-upload-form" enctype="multipart/form-data" class="form-horizontal">
    {% csrf_token %}
    <div class="form-group row">
        <div class="col-sm-12" data-field-group="{{ source_name }}">
            <input type="file" name="{{ source_name }}" id="id_{{ source_name }}" required>
            <div class="help-block" data-field-errors="{{ source_name }}"></div>
        </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-8 col-form-label">
        <label for="id_{{ shell_license_name }}">{{ shell_license_label }}</label>
      </div>
      <div class="col-sm-4" data-field-group="{{ shell_license_name }}">
        <input type="checkbox" name="{{ shell_license_name }}" id="id_{{ shell_license_name }}" value="true">
        <div class="help-block" data-field-errors="{{ shell_license_name }}"></div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-8 col-form-label">
        <label for="id_{{ tos_name }}">{{ tos_label }}</label>
      </div>
      <div class="col-sm-4" data-field-group="{{ tos_name }}">
        <input type="checkbox" name="{{ tos_name }}" id="id_{{ tos_name }}" value="true">
        <div class="help-block" data-field-errors="{{ tos_name }}"></div>
      </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-primary" disabled>Upload extension</button>
        </div>
    </div>
</form>

{% endblock %}

{% block navclass %}upload{% endblock %}
